.datepicker {
    width: 384px;
    color: rgb(93, 96, 100);
}

.datepicker-dropdown {
    width: 100%; /* Ajusta al ancho del contenedor */
}

.datepicker-month {
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.datepicker-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Aumentar la altura */
    border-radius: 4px;
    line-height: 1;
    cursor: pointer;
}

.datepicker-day-dropdown {
    height: 30px;
}

.datepicker-day:hover {
    background: rgba(101, 109, 119, 0.1);
    border-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}

.datepicker-not-month {
    opacity: 0.7; /* Aumentar la opacidad */
    color: #bbb; /* Cambiar color */
}

.datepicker-weekdays,
.datepicker-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Styles for the weekday/weekend header */
.datepicker-weekdays {
    margin-top: 1.5em; /* Aumentar el margen superior */
    text-align: center;
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 1.6;
    color: #656d77;
}

/* Dates */
.datepicker-days {
    margin-top: 1em; /* Aumentar el margen superior */
}
